<h1>Create a Moment</h1>
<%= form_for :moment, url: moments_path do |mnt| %>
<p>
  <%= mnt.label "Moment title:" %>
  <%= mnt.text_field :title %>
</p>
<p>
  <%= mnt.label "Description:" %>
  <%= mnt.text_area :description %>
</p>
<p>
  <%= mnt.label "Latitude:" %>
  <%= mnt.text_field :latitude %>
</p>
<p>
  <%= mnt.label "Longitude:" %>
  <%= mnt.text_field :longitude %>
</p>
<h1>Search</h1>
<p>
  <%= mnt.text_field :search %>
</p>
<br/>
<p>
  <%= mnt.submit "Submit", class: "btn btn-large btn-primary" %>
  <%= mnt.submit "Reset Form", :type => "reset", class: "btn btn-danger" %>
</p>
<% end %>
